body {
    background-image: url('https://www.telecomreviewna.com/images/stories/2022/09/Telecom_Evolution.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}